<ul>
  <li>
    <%= render '/refinery/admin/search', :url => refinery.admin_pages_path %>
  </li>

  <ul id='current_locale'>
    <li>
      <%= link_to "#", :class => 'add_icon' do %>
        <%= t('.create_new_page') %>
        <span><%= t('choose_template', :scope => 'refinery.smart_pages.admin') %></span>
        <span style='display:none;'><%= t('cancel', :scope => 'refinery.admin.form_actions') %></span>
      <% end %>
    </li>
  </ul>
  <ul id='other_locales' style='display: none'>
    <% Refinery::Pages.types.each do |type| %>
      <li>
        <%= link_to t("#{type.name.to_s}", :scope => 'refinery.smart_pages.admin.templates') + " " + t('template', :scope => 'refinery.smart_pages.admin'), refinery.new_admin_page_path + "?view_template=" + type.name.to_s, :class => 'add_icon' %>
      </li>
    <% end %>
  </ul>

<% if @pages.many? and !searching? %>
  <li>
    <%= link_to t('.reorder_pages'), refinery.admin_pages_path,
                :id => "reorder_action",
                :class => "reorder_icon" %>

    <%= link_to t('.reorder_pages_done'), refinery.admin_pages_path,
                :id => "reorder_action_done",
                :style => "display: none;",
                :class => "reorder_icon" %>
  </li>
<% end %>
</ul>